body {
	background-color: rgba(09,09,09,.1);
	background: url(/images/dark_letspretend.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: yellow;
	font-family: "Futura PT", sans-serif;
	font-size: 100px;
	font-weight: 900;
	padding-top: 0px;
	text-align: left;
	
}

#slogan {
	font-family: "Courier New";
	font-size: 30px;
	font-style: italic; 
	font-weight: 600;
	text-align: left;
	text-transform: uppercase;
}

p {
	font-family: "Futura PT", sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	text-anchor: right
}

ul {
	
	font-family: "Courier New";
	font-size: 30px;
	font-weight: 300
	list-style-type: none;
	text-align: center;
}

a {
	background-color: yellow;
	color: black;
	text-decoration: none;
}

#contact {
	font-size: 12px; !important;
}

hr {
	width: 600px;
	height: 14px;
}
